.signin-text {
  text-align: center;
}

.signin-button {
  @extend %title-font;
  border: none;
  color: #fff;
  font-size: 14px;
  display: block;
  letter-spacing: 0;
  margin-bottom: 15px;
  padding: 15px 15px 15px 50px;
  position: relative;
  text-align: center;
  width: 100%;

  .fa {
    left: 6px;
    top: 12px;
    position: absolute;
  }

  @include breakpoint($break-tablet) {
    font-size: 15px;
  }
}

.signin-facebook {
  background: #3b5998;
}

.signin-google {
  background: #d34836;
}
