.calendar-table {
  font-size: 15px;
  line-height: 1.5em;
  width: 100%;
}

.calendar-row {
  display: flex;
  margin: 10px 0;
}

.calendar-cell {

  @include breakpoint($break-tablet) {
    display: table-cell;
    margin: 0;
    padding: 5px 0;
    vertical-align: top;
  }

  display: block;
  margin-left: 70px;

  & > .event-title, & > .event-location, & > .event-description {
    margin: 0;
  }
}

.calendar-date {
  font-size: 13px;
  margin: 0;
  font-weight: bold;
  text-transform: capitalize;
  background-color: $dark-purple;
  color: $orange;

  @include breakpoint($break-tablet) {
    font-size: inherit;
  }
  width: 120px;
  border-radius: 3px;
  display: flex;
  text-align: center;
  align-items: center;
}

.calendar-summary {
  background: #fff;
  padding: 1em;
  border-radius: 3px;
}

.calendar-time, .event-location, .event-description, .calendar-link-container {
  font-size: 13px;
  line-height: 1.6em;

  &.calendar-time, &.calendar-link-container {
    @include breakpoint($break-tablet) {
      font-size: inherit;
      line-height: inherit;
    }
  }
}

.event-title {
  line-height: 1em;
  margin-bottom: 5px !important;

  @include breakpoint($break-tablet) {
    line-height: inherit;
    margin: 0 !important;
  }
}
