<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Seguimos na construção de uma cidade nossa!</title>
  </head>

  <body>
    <p>Olá, {NAME}!</p>
    <p>Muito obrigado por se cadastrar para pensar como seria se a cidade fosse nossa. Nos últimos meses mais de 5000 pessoas participaram das discussões online e em mais de 60 encontros pela cidade. Todas as ideias discutidas serão compiladas em uma proposta de programa de governo para a construção de um Rio de Janeiro mais humano e menos desigual.</p>
    <p>Agora, precisamos de ajuda para que mais pessoas assinem o abaixo assinado para que o candidato do PSOL, que irá abraçar o programa de governo construído coletivamente com o Se a Cidade Fosse Nossa, não seja excluído dos debates eleitorais desse ano! <a href="http://democracianosdebates.com/">Assine agora e compartilhe!</a></p>
    <p>Te informaremos por email das próximas atividades e de como você pode participar para ajudar a tornar essas ideias realidade.</p>
    <p>Seguimos juntos!</p>
    <p><strong>Se a Cidade Fosse Nossa</strong></p>
  </body>
</html>
