<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Seguimos na construção de uma cidade nossa!</title>
  </head>

  <body>
    <p>Olá, {NAME}!</p>
    <p>Muito obrigado por se cadastrar para pensar como seria se a cidade fosse nossa. Ao longo dos próximos meses teremos muitas atividades para discutir e construir juntos um outro Rio de Janeiro. Te avisaremos do calendário de atividades por email.</p>
    <p>Além disso, você pode participar na plataforma dando ideias e sugestões para todos os temas da cidade. Temos alguns ciclos temáticos já abertos e nos próximos meses outros ciclos ficarão disponíveis para participação online. Participe: <a href="http://seacidadefossenossa.com.br/">http://seacidadefossenossa.com.br/temas/</a></p>
    <p>Você também pode organizar encontros do Se A Cidade Fosse Nossa no seu bairro, para discutir com seus vizinhos e amigos as mudanças necessárias para melhorar a qualidade de vida no cotidiano. Leia mais: <a href="http://seacidadefossenossa.com.br/bairros/">http://seacidadefossenossa.com.br/bairros/</a></p>
    <p>Seguimos juntos na construção de uma cidade mais livre, solidária e feliz.</p>
    <p><strong>Se a Cidade Fosse Nossa</strong></p>
    <p>Ps: Não se esqueça de compartilhar o vídeo de apresentação e convidar seus amigos e amigas a participarem deste processo de mudança em nossa cidade! <a href="https://www.facebook.com/seacidadefossenossa/posts/1665411663702669">Compartilhe agora!</a></p>
  </body>
</html>
