.explanation {
  @extend %align-middle-container;
  bottom: 0;
  display: none;
  height: 100%;
  left: 0;
  overflow: auto;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 16;

  .toggle-explanation.lightbox-close {
    position: fixed;
  }

  iframe {
    max-width: 100%;
    max-height: 70vh;
  }
}

.explanation-wrap {
  @extend %align-middle-element;
}
