<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Novo comentário em "{IDEIA}"</title>
  </head>

  <body>
    <p>Olá {NAME},</p>

    <p><strong>{POSTER}</strong> acabou de fazer um comentário na sua proposta <strong>{IDEIA}</strong>:</p>

    <blockquote>
      <em>{COMMENT}</em>
    </blockquote>

    <p>Veja na plataforma: <a href="{LINK}">{LINK}</a></p>

    <p>Seguimos juntos por uma cidade mais participativa,<br />
    <strong>Compartilhe a Mudança</strong></p>
  </body>
</html>
