<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Vamos juntos!</title>
  </head>

  <body>
    <p>Olá, {NAME}!</p>
    <p>Muito obrigado por se cadastrar para compartilhar a mudança e ajudar a construir uma alternativa para Porto Alegre.</p>

    <p>Ao longo dos próximos meses, teremos muitas atividades para discutir e construir juntos uma outra cidade. O calendário pode ser conferido em https://compartilheamudanca.com.br/agenda/, mas também te avisaremos sobre os eventos mais importantes por e-mail.</p>

    <p>Além disso, tu podes participar na plataforma dando propostas e sugestões para todos os temas da cidade. É só acessar https://compartilheamudanca.com.br/temas/</p>

    <p>Tu também podes organizar encontros do Compartilhe a Mudança no teu bairro, para discutir com teus vizinhos e amigos as mudanças necessárias para melhorar a qualidade de vida na tua região. Saiba mais em https://compartilheamudanca.com.br/reunioes-nos-bairros/</p>

    <p>Seguimos juntos na construção de uma Porto Alegre radicalmente democrática e que garanta direitos à população.</p>

    <p><strong>Compartilhe a mudança!</strong></p>

    <p>Ps: Não se esqueça de compartilhar a nossa plataforma nas tuas redes sociais e convidar teus amigos e amigas a participarem desse processo de mudança em nossa cidade!</p>
  </body>
</html>
