/**
 * Sorry for the weird selectors. The header has 3 states:
 *
 * 1. homepage [ie, .home:not(.paged)] and .show-opaque-header is not set
 *    Don't add padding, don't show opaque header
 *
 * 2. homepage and .show-opaque-header is set
 *    Don't add padding, show opaque header
 *
 * 3. not homepage
 *    Add padding, show opaque header
 */

body.paged, body:not(.home) {
  padding-top: $header-height;
}

.site-header {
  color: $white;
  height: $header-height;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 4;

  @include breakpoint($break-desktop) {
    top: 10px;
  }

  body.paged &, body:not(.home) &, body.home.show-opaque-header & {
    @include box-shadow(0 0 15px $black);
    background: $purple url('static/images/bg-purple-pattern.jpg') repeat;
    top: 0;

    .header-logo {
      display: table-cell;
    }
  }

  & > .wrap {
    display: table;
    height: 100%;
    width: 100%;
  }
}

.header-logo {
  display: none;
  padding-left: 8px;
  vertical-align: middle;
  white-space: nowrap;

  @include breakpoint($break-desktop) {
    padding-left: 0;
  }

  img {
    max-width: 240px;
    vertical-align: middle;

    @include breakpoint($break-tablet) {
      max-width: none;
    }
  }
}

.header-overlay {
  background: rgba(0, 0, 0, 0.5);
  bottom: 0;
  display: none;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;

  .show-mobile-menu & {
    display: block;
  }
}

.header-toggle-menu {
  cursor: pointer;
  display: none;
  font-size: 28px;
  padding-left: 1.25em;
  position: relative;
  width: 40px;

  &:before {
    box-sizing: content-box;
    content: "";
    position: absolute;
    top: 21px;
    left: 0;
    width: 1em;
    height: 0.125em;
    border-top: 0.375em double $white;
    border-bottom: 0.125em solid $white;
  }
}

.header-nav {
  @include box-shadow(0 0 15px $black);
  @include transition(right 150ms ease-in-out);

  background: $orange;
  bottom: 0;
  position: fixed;
  right: -265px;
  text-align: right;
  top: 0;
  vertical-align: middle;
  width: 250px;
  z-index: 8;

  .show-mobile-menu & {
    right: 0;
  }

  @include breakpoint($break-desktop) {
    @include box-shadow(none);

    background: none;
    display: table-cell;
    font-size: 0;
    position: static;
    width: 100%;
  }
}

.header-menu, .header-search-user {
  @include breakpoint($break-tablet) {
    display: inline-block;
  }
}

.header-menu > ul, .header-search-user {
  & > li {
    & > a {
      border-bottom: solid 1px white;
      display: block;
      font-weight: 700;
      padding: 15px;
      text-transform: uppercase;
    }
  }

  @include breakpoint($break-desktop) {
    & > li {
      display: inline-block;
      padding: 0 2px;

      & > a {
        @include transition(all 150ms ease);

        background: rgba(255, 255, 255, 0.8);
        border: 0;
        color: $orange;
        font-size: 12px;
        padding: 5px 12px;

        &:hover {
          background: #fff;
        }

        .v1 & {
          border: solid 2px #fff;
          background: none;
          color: #fff;

          &:hover {
            background: $orange;
            border-color: $orange;
            color: $white;
          }
        }

        body.paged &, body:not(.home) &, body.home.show-opaque-header & {
          border: solid 2px #fff;
          background: none;
          color: #fff;

          &:hover {
            background: none;
            border-color: $orange;
            color: $orange;
          }
        }
      }

      &.user > a {
        background: $orange;
        color: $white;
      }
    }
  }
}

/* Do not show first menu item (Home) in desktop */
.header-menu > ul > li:first-child {
  @include breakpoint($break-desktop) {
    display: none;
  }
}

.sub-menu {
  display: none;
}
