.site-hero {
  background: $black no-repeat;
  background-position: -270px 0;
  background-size: auto 500px;
  padding-top: 400px;
  position: relative;

  @include breakpoint($break-tablet) {
    background-position: -360px 0;
    background-size: auto;
    height: 630px;
  }

  @include breakpoint($break-desktop) {
    background-position: center top;
    background-size: auto;
    height: 630px;
  }
}

#react-hero-signup {
  background: $black;
  color: $white;
  padding: 0.1px 10px;

  .signup-input, .signup-button {
    display: block;
    margin: 10px 0;
  }

  .signup-input {
    position: relative;

    & > input {
      background: white no-repeat;
      border: 0;
      display: block;
      font-size: 12px;
      padding: 10px 10px 10px 36px;
      width: 100%;

      &[disabled] {
        background-color: $gray;
      }
    }

    .validation-error {
      @include border-radius(5px);
      @include box-shadow(0 0 4px rgba(0, 0, 0, 0.5));
      background: $red;
      bottom: 35px;
      color: $white;
      font-size: 12px;
      left: 3px;
      padding: 5px 10px;
      position: absolute;
      z-index: 8;

      @include breakpoint($break-tablet) {
        bottom: 37px;
      }

      @include breakpoint($break-desktop) {
        bottom: 39px;
      }

      &::after {
        border-top: 5px solid $red;
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
        bottom: -5px;
        content: "";
        height: 0;
        left: 10px;
        position: absolute;
        width: 0;
      }
    }

    .suggestions {
      @include box-shadow(0 0 5px rgba(0, 0, 0, 0.5));
      background: $white;
      color: $black;
      display: none;
      font-size: 12px;
      position: absolute;
      top: 37px;
      left: 0;
      right: 0;
      z-index: 2;

      & > li {
        cursor: pointer;
        padding: 5px;
        &.selected, &:hover {
          background: $gray;
        }
      }

      @include breakpoint($break-tablet) {
        font-size: 14px;
        top: 39px;
      }

      @include breakpoint($break-desktop) {
        top: 41px;
      }
    }

    &.focused .suggestions {
      display: block;
    }
  }

  .signup-input-email > input {
    background-image: inline-image('icon-email.svg');
    background-position: 6px center;
    background-size: auto 18px;
  }

  .signup-input-location > input {
    background-image: inline-image('icon-location.svg');
    background-position: 9px center;
    background-size: auto 24px;
  }

  .signup-input-name > input {
    background-image: url('static/images/icon-name.svg');
    background-position: 6px center;
    background-size: auto 24px;
  }

  .signup-input-phone > input {
    background-image: url('static/images/icon-phone.svg');
    background-position: 6px center;
    background-size: auto 22px;
  }

  .signup-input-birthdate > input {
    background-image: url('static/images/icon-birthdate.svg');
    background-position: 6px center;
    background-size: auto 20px;
  }

  .signup-input-occupation > input {
    background-image: url('static/images/icon-occupation.svg');
    background-position: 8px center;
    background-size: auto 20px;
  }

  .signup-input-school > input {
    background-image: url('static/images/icon-school.svg');
    background-position: 6px center;
    background-size: auto 24px;
  }

  .signup-input-course > input {
    background-image: url('static/images/icon-course.svg');
    background-position: 6px center;
    background-size: auto 24px;
  }

  .signup-button {
    background: $orange;
    border: 0;
    color: $white;
    cursor: pointer;
    font-weight: bold;
    padding: 5px 10px;
    text-transform: uppercase;

    &.is-basic-sent {
      display: none;
    }
  }

  @include breakpoint($break-tablet) {
    background: rgba(0, 0, 0, 0.7);
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;

    .basic-form {
      padding: 10px 0;
    }

    .signup-input, .signup-button {
      display: inline-block;
      margin-right: 1%;
      vertical-align: middle;
      & > input {
        font-size: 14px;
      }
    }

    .signup-input {
      width: 39%;
    }

    .signup-button {
      margin-right: 0;
      padding: 10px;
      width: 20%;
      &.is-basic-sent {
        display: inline-block;
      }
    }
  }

  @include breakpoint($break-desktop) {
    .signup-input, .signup-button {
      & > input {
        font-size: 16px;
      }
    }
  }
}
