.site-presentation {
  .v2 & {
    background: #fff;
  }

  font-size: 16px;
  font-style: italic;
  line-height: 140%;
  padding: 15px 10px;
  text-align: center;

  p {
    margin: 10px 0;
  }

  @include breakpoint($break-tablet) {
    font-size: 18px;
    padding: 20px;

    p {
      margin: 20px 0;
    }
  }
}

.streaming-title {
  @extend %title-font;
  font-size: 20px;
  margin-bottom: 20px;
  text-align: center;

  @include breakpoint($break-tablet) {
    font-size: 24px;
  }

  @include breakpoint($break-desktop) {
    font-size: 28px;
  }
}

.streaming-box {
  height: 300px;
  width: 100%;

  @include breakpoint($break-tablet) {
    height: 400px;
  }

  @include breakpoint($break-desktop) {
    height: 500px;
  }
}
