.site-presentation {
  font-size: 16px;
  font-style: italic;
  line-height: 140%;
  padding: 15px 10px;
  text-align: center;

  p {
    margin: 10px 0;
  }

  @include breakpoint($break-tablet) {
    font-size: 18px;
    padding: 20px;

    p {
      margin: 20px 0;
    }
  }
}

.streaming-box {
  height: 300px;
  width: 100%;

  @include breakpoint($break-tablet) {
    height: 450px;
  }

  @include breakpoint($break-desktop) {
    height: 600px;
  }
}

.site-grid {
  font-size: 0;
  line-height: 0;

  @include breakpoint($break-tablet) {
    margin: 20px 0;
  }

  .grid-post {
    background-position: center center;
    background-size: cover;
    display: block;
    height: 300px;
    position: relative;

    & > a {
      background: rgba(0, 0, 0, 0.5);
      bottom: 0;
      display: block;
      left: 0;
      position: absolute;
      right: 0;
      top: 0;

      h3 {
        @extend %text-font;
        bottom: 0;
        color: $white;
        font-size: 18px;
        font-weight: 700;
        margin-right: 50px;
        padding: 10px;
        position: absolute;
      }

      .social {
        display: none;
      }

      &:hover {
        background: rgba(0, 0, 0, 0.7);

        .social {
          display: block;
        }
      }
    }

    @include breakpoint($break-tablet) {
      display: inline-block;
      margin-bottom: 1%;
      margin-right: 1%;
      width: 24.25%;

      &:nth-child(4n) {
        margin-right: 0;
      }
    }
  }
}
