#react-hero-signup .lightbox-edit-user-info {
  & > h2 {
    display: none;
  }

  & > .success {
    color: $white;
    font-size: 14px;
    line-height: 1.5em;

    p {
      margin: 20px 0;
    }

    strong {
      font-weight: 700;
    }

    .signup-button {
      display: none;
      @include breakpoint($break-tablet) {
        display: block;
      }
    }
  }
}

@include breakpoint($break-tablet) {
  #react-hero-signup {
    .lightbox-overlay-tablet {
      background: rgba(0, 0, 0, 0.7);
      bottom: 0;
      left: 0;
      position: fixed;
      right: 0;
      top: 0;
      z-index: 16;
    }

    .lightbox-edit-user-info {
      $height: 450px;
      $width: 450px;

      @include box-shadow(0 0 15px rgba(0, 0, 0, 0.8));
      background: $light-gray url('static/images/bg-gray-pattern.jpg') repeat;
      height: $height;
      left: 50%;
      margin-left: -$width/2;
      margin-top: -$height/2 - 50px;
      position: fixed;
      top: 50%;
      width: $width;

      & > h2 {
        @include title-font;

        background: $orange;
        color: $white;
        display: block;
        text-align: center;
        padding: 15px 0;
        position: relative;

        &::after {
          border-bottom: 5px solid #e5e0dd;
          border-left: 5px solid transparent;
          border-right: 5px solid transparent;
          bottom: 0;
          content: "";
          height: 0;
          left: 50%;
          margin-left: -5px;
          position: absolute;
          width: 0;
        }
      }

      & > form, & > .success {
        padding: 20px;
      }

      .success {
        color: $black;
        font-size: 16px;

        p {
          margin-top: 0;
        }
      }

      .signup-input {
        display: inline-block;
        margin: 2px 0;
        width: 100%;

        &.signup-input-phone {
          width: 49.4%;
          margin-right: 1.2%;
        }

        &.signup-input-birthdate {
          width: 49.4%;
        }

        & > input {
          background-color: rgba(255, 255, 255, 0.8);
          font-size: 13px;
        }

        .multi-select-options {
          max-height: 175px;
        }
      }

      .signup-button {
        display: block;
        width: 100%;
      }
    }
  }
}
