.lightbox-overlay {
  background: rgba(0, 0, 0, 0.7);
  bottom: 0;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 32;
}

.lightbox {
  @extend %align-middle-container;
  @include box-shadow(0 0 15px rgba(0, 0, 0, 0.8));
  background: #fff;
  bottom: 10px;
  height: 95%;
  height: calc(100% - 20px);
  left: 10px;
  padding: 15px;
  position: fixed;
  right: 10px;
  top: 10px;

  @include breakpoint($break-tablet) {
    $height: 480px;
    $width: 440px;
    height: $height;
    left: 50%;
    margin-left: -$width/2;
    margin-top: -$height/2;
    top: 50%;
    width: $width;

    &.small {
      $height: 240px;
      height: $height;
      margin-top: -$height/2;
    }
  }
}

.lightbox-close {
  @extend %title-font;
  background: none;
  border: none;
  color: $orange;
  font-size: 14px;
  padding: 10px;
  position: absolute;
  right: 0;
  top: 0;
}

.lightbox-wrap {
  @extend %align-middle-element;

  p {
    margin-bottom: 15px;
  }
}

.lightbox-title {
  @extend %title-font;
  margin-bottom: 15px;
  text-align: center;
}
