@include breakpoint($break-tablet) {
  .lightbox-overlay-tablet {
    background: rgba(0, 0, 0, 0.7);
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 16;
  }

  .lightbox-edit-user-info {
    $height: 400px;
    $width: 400px;

    background: white;
    height: $height;
    left: 50%;
    margin-left: -$width/2;
    margin-top: -$height/2;
    position: fixed;
    top: 50%;
    width: $width;
  }
}
