.temas-flow-list {
  font-size: 0;
  @include breakpoint($break-tablet) {
    margin-top: 30px;
  }
}

.temas-flow-item {
  color: #fff;
  display: block;
  font-size: 14px;
  text-align: center;
  vertical-align: middle;
  @include breakpoint($break-tablet) {
    display: inline-block;
    width: 25%;
  }
}

.temas-flow-item-1 {
  background: $orange url('static/images/bg-pattern-orange.jpg');
}

.temas-flow-item-2 {
  background: $teal url('static/images/bg-pattern-teal.jpg');
}

.temas-flow-item-3 {
  background: $purple url('static/images/bg-pattern-light-purple.jpg');
}

.temas-flow-item-4 {
  background: $dark-purple url('static/images/bg-pattern-dark-purple.jpg');
}

.temas-flow-image {
  margin-top: 30px;
}

.temas-flow-item-description-container {
  @extend %align-middle-container;
  height: 150px;
  padding: 0 10px 20px;
}

.temas-flow-item-description {
  @extend %align-middle-element;
}

.temas-flow-item-title-container {
  @extend %align-middle-container;
  border-top: solid 2px #fff;
  height: 160px;
  padding: 0 10px;
  position: relative;
  &::after {
    @include border-radius(20px);
    border: solid 2px #fff;
    content: "•";
    display: block;
    font-size: 72px;
    height: 40px;
    left: 50%;
    line-height: 33px;
    margin-left: -20px;
    position: absolute;
    top: -22px;
    width: 40px;
  }
}

.temas-flow-item-title {
  @extend %align-middle-element;
  @extend %title-font;
  font-size: 24px;
  letter-spacing: 0;
  line-height: 1.2em;
  strong {
    display: block;
    font-size: 1.5em;
    line-height: 1.5em;
  }
}

.grid-temas-list {
  font-size: 0;
  @include breakpoint($break-tablet) {
    padding-top: 30px;
  }
}

.grid-tema {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 300px;

  @include breakpoint($break-tablet) {
    display: inline-block;
    margin-bottom: 30px;
    width: 49%;
    &:nth-child(2n) {
      margin-left: 2%;
    }
  }
}

.grid-tema-link {
  @extend %align-middle-container;
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  display: block;
  height: 100%;
  text-align: center;
  width: 100%;
  &:hover {
    background: rgba(0, 0, 0, 0.7);
    .grid-tema-action {
      background: #fff;
      color: #000;
    }
  }
}

.grid-tema-wrap {
  @extend %align-middle-element;
}

.grid-tema-name {
  @extend %title-font;
  font-size: 24px;
  letter-spacing: 0;
  margin-bottom: 15px;
}

.grid-tema-action {
  background: none;
  color: #fff;
  border: solid 2px #fff;
  padding: 6px 12px;
  text-transform: uppercase;
}
