.map-svg-container {
  text-align: center;
  .home & {
    background: $purple;
  }
}

.map-title-container {
  @include breakpoint($break-tablet) {
    display: table;
    width: 100%;
  }
}

.map-title {
  @extend %title-font;
  color: $purple;
  font-size: 30px;
  padding: 30px 0 10px;
  text-align: center;
  .home & {
    color: #fff;
  }
  @include breakpoint($break-tablet) {
    display: table-cell;
    font-size: 40px;
    padding: 40px 30px 20px;
    text-align: left;
    vertical-align: middle;
    width: 100%;
  }
}

.local-list-container {
  text-align: center;
  @include breakpoint($break-tablet) {
    display: table-cell;
    padding-right: 30px;
    text-align: right;
    vertical-align: middle;
  }
}

.local-list {
  background: $yellow;
  border: 0;
  color: $purple;
  padding: 5px 8px;
  @include breakpoint($break-tablet) {
    margin-top: 10px;
  }
}

.map-svg {
  max-width: 100%;
  width: 600px;
}

.map-polygon {
  fill: $yellow;
  stroke: $purple;
  stroke-width: 0.9341;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 10;
}

.map-label {
  display: none;
  fill: #fff;
  font-size: 13px;
  text-transform: uppercase;
}
