.site-header {
  background: $yellow;
  box-shadow: 0 0 10px #000;
  color: $purple;
  height: 60px;
  z-index: 4;
  @include breakpoint($break-tablet) {
    height: 90px;
  }

  .home & {
    background: none;
    box-shadow: none;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
  }
}

.site-header > .wrap {
  display: table;
  height: 60px;
  width: 100%;
  @include breakpoint($break-tablet) {
    height: 90px;
  }
}

.header-logo {
  display: table-cell;
  line-height: 0;
  padding-left: 10px;
  text-align: left;
  vertical-align: middle;
  width: 100%;
  @include breakpoint($break-desktop) {
    padding-left: 0;
    text-align: left;
  }
}

.header-logo img {
  height: 45px;
  @include breakpoint($break-tablet) {
    height: auto;
  }
  .home & {
    display: none;
  }
}

.header-toggle-menu {
  cursor: pointer;
  display: none;
  font-size: 28px;
  min-width: 60px;
  position: relative;

  &:before {
    border-bottom: 0.125em solid $purple;
    border-top: 0.375em double $purple;
    box-sizing: content-box;
    content: "";
    height: 0.125em;
    position: absolute;
    right: 16px;
    top: 22px;
    width: 1em;

    .home & {
      border-color: #fff;
    }
  }
}

.header-nav {
  display: none;
  @include breakpoint($break-desktop) {
    display: table-cell;
  }
}
