.home-destaques {
  margin-top: -200px;
  padding: 0 10px;
  @include breakpoint($break-tablet) {
    margin-top: -130px;
  }
}

.home-destaques > .wrap {
  @include border-radius(10px);
  background: $yellow;
  color: $purple;
  margin: 0 auto;
  max-width: 820px;
  padding: 7px 12px;
  position: relative;
}

.destaques-list {
  border-top: dashed 1px $purple;
  &:first-child {
    border-top: 0;
  }
  @include breakpoint($break-tablet) {
    display: table;
    width: 100%;
  }
}

.destaques-item {
  border-top: dashed 1px $purple;
  text-align: left;
  &:first-child {
    border-top: 0;
  }

  @include breakpoint($break-tablet) {
    border-left: dashed 1px $purple;
    border-top: 0;
    display: table-cell;
    vertical-align: middle;
    width: 50%;
    &:first-child {
      border-left: 0;
      border-top: 0;
    }
  }
}

.destaques-item > a {
  display: table;
}

.destaques-item-image-container {
  display: table-cell;
  line-height: 0;
  padding: 12px;
  vertical-align: middle;
}

.destaques-item-info {
  display: table-cell;
  padding-right: 12px;
  vertical-align: middle;
  width: 100%;
}

.destaques-item-image {
  @include border-radius(45px);
  background-position: center center;
  background-size: cover;
  display: inline-block;
  height: 90px;
  width: 90px;
}

.destaques-item-subtitle {
  margin: 5px 0;
  & > span {
    background: $purple;
    color: $yellow;
    font-size: 32px;
    line-height: 1em;
    padding: 4px 7px 2px;
    text-transform: uppercase;
  }
}

.destaques-item-title {
  font-size: 15px;
  line-height: 1.2em;
  text-transform: uppercase;
}

.destaques-item-manifesto .destaques-item-title {
  font-size: 19px;
}

.destaques-more {
  background: $purple;
  color: $yellow;
  line-height: 1.2em;
  padding: 4px 6px;
  & > span {
    text-transform: uppercase;
  }
  & > .fa {
    display: none;
  }
  @include breakpoint($break-tablet) {
    padding: 5px 3px;
    position: absolute;
    right: 12px;
    top: 106px;
    & > span {
      display: none;
    }
    & > .fa {
      display: inline-block;
    }
  }
}
