@import "../shared/flag";

.home-calendar {
  background: $purple;
  bottom: 0;
  color: #fff;
  left: 0;
  padding: 24px 12px 12px;
  position: absolute;
  right: 0;
  text-align: left;
  @include breakpoint($break-desktop) {
    background: rgba(0, 0, 0, 0.8);
    padding: 20px;
  }
}

.home-calendar > .wrap {
  border: dotted 2px #fff;
  padding: 25px 5px 10px;
  position: relative;
  @include breakpoint($break-desktop) {
    display: table;
    padding: 10px;
    width: 100%;
  }
}

.home-next-event {
  @extend %title-font;
  background: image-url('cam/home-calendar-title-mobile.png') no-repeat center center;
  color: $purple;
  font-size: 22px;
  height: 30px;
  left: 50%;
  margin-left: -65px;
  padding: 8px 10px;
  position: absolute;
  top: -14px;
  width: 130px;
  @include breakpoint($break-desktop) {
    background: image-url('cam/home-calendar-title-desktop.png') no-repeat center center;
    color: #000;
    display: table-cell;
    font-size: 30px;
    line-height: 1.2em;
    height: auto;
    margin: 0;
    padding: 15px 20px 0;
    position: static;
    text-align: center;
    vertical-align: middle;
    width: 17%;
    & > span {
      font-size: 48px;
    }
  }
}

.home-event-title {
  border-bottom: solid 1px #fff;
  font-size: 14px;
  font-weight: bold;
  line-height: 1.2em;
  margin-bottom: 10px;
  padding: 0 10px 10px;
  text-align: center;
  text-transform: uppercase;
  @include breakpoint($break-desktop) {
    border-bottom: 0;
    border-left: solid 1px #fff;
    border-right: solid 1px #fff;
    display: table-cell;
    font-size: 17px;
    padding: 10px 20px;
    text-align: left;
    vertical-align: middle;
    width: 30%;
  }
}

.home-event-mobile-table {
  display: table;
  width: 100%;
  @include breakpoint($break-desktop) {
    display: block;
    width: auto;
  }
}

.home-event-info {
  border-right: solid 1px #fff;
  display: table-cell;
  font-size: 14px;
  line-height: 1em;
  vertical-align: middle;
  width: 95%;
  @include breakpoint($break-desktop) {
    font-size: 18px;
    padding: 10px;
    width: 48%;
  }
}

.home-event-info-li {
  padding: 5px 0;
  @include breakpoint($break-desktop) {
    display: inline-block;
    margin: 0 10px;
    vertical-align: top;
    max-width: 40%;
  }
}

.home-event-info-50 {
  display: inline-block;
  max-width: 100px;
  width: 50%;
  @include breakpoint($break-desktop) {
    width: auto;
  }
}

.home-event-info i {
  margin-right: 5px;
}

.home-event-location {
  @extend %flag;
  color: $yellow;
}

.home-event-location-icon-container {
  @extend %flag-image;
}

.home-event-location-text {
  @extend %flag-body;
}

.home-calendar-button-container {
  display: table-cell;
  padding: 0 10px;
  text-align: center;
  vertical-align: middle;
  width: 5%;
  @include breakpoint($break-desktop) {
    padding: 10px 20px;
  }
}

.home-calendar-button {
  @extend %title-font;
  background: image-url('cam/home-calendar-full.png') no-repeat center center;
  background-size: 100% 100%;
  color: $purple;
  display: inline-block;
  font-size: 21px;
  height: 62px;
  padding: 7px;
  width: 85px;
  @include breakpoint($break-desktop) {
    color: #000;
    font-size: 28px;
    height: 80px;
    padding: 8px;
    width: 110px;
  }
}
