.home-banners {
  font-size: 0;
  line-height: 0;
  @include breakpoint($break-tablet) {
    margin: 20px 0;
  }
  @include breakpoint($break-desktop) {
    margin: 30px 0;
  }
}

.home-banner {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;
  display: block;
  height: 350px;
  @include breakpoint($break-tablet) {
    display: inline-block;
    height: 240px;
    margin: 0 1%;
    width: 23%;
  }
  @include breakpoint($break-desktop) {
    margin: 0;
    margin-left: 1%;
    width: 24.25%;
    &:first-child {
      margin-left: 0;
    }
  }
}

.home-voluntario {
  background-image: image-url('cam/home-voluntario.png');
}

.home-reunioes {
  background-image: image-url('cam/home-reunioes.png');
}

.home-contribuicoes {
  background-image: image-url('cam/home-contribuicoes.png');
}

.home-projetos {
  background-image: image-url('cam/home-projetos.png');
}
