.home-temas {
  font-size: 0;
  line-height: 0;
  @include breakpoint($break-tablet) {
    margin: 20px 0;
  }
  @include breakpoint($break-desktop) {
    margin: 30px 0;
  }
}

.home-temas-wrap {
  padding: 25px 10px 25px;
  @include breakpoint($break-tablet) {
    padding: 30px 10px 20px;
  }
  @include breakpoint($break-desktop) {
    padding: 30px 0 10px;
  }
}

.home-temas-element {
  border: dashed 2px $yellow;
  padding: 25px 10px 25px;
  position: relative;
  @include breakpoint($break-tablet) {
    padding: 50px 15px 35px;
  }
  @include breakpoint($break-desktop) {
    padding: 55px 20px 35px;
  }
}

.home-temas-title {
  @extend %title-font;
  background: image-url('cam/home-temas-title.png') no-repeat center center / contain;
  color: $purple;
  font-size: 25px;
  height: 37px;
  left: 50%;
  margin-left: -79px;
  padding: 10px 14px;
  position: absolute;
  top: -19px;
  white-space: nowrap;
  width: 157px;
  @include breakpoint($break-tablet) {
    font-size: 48px;
    height: 74px;
    margin-left: -157px;
    padding: 20px 33px;
    top: -36px;
    width: 314px;
  }
}

.home-temas-button-container {
  bottom: -15px;
  left: 0;
  position: absolute;
  right: 0;
  text-align: center;
  @include breakpoint($break-tablet) {
    bottom: -20px;
  }
}

.home-temas-button {
  @include solid-button(21px, $yellow, $purple);
  @include breakpoint($break-tablet) {
    @include solid-button(27px, $yellow, $purple);
  }
}

.home-temas-grid {
  @extend %any-temas-grid;
  & > li {
    height: 140px;
    margin-left: 3%;
    width: 48.5%;
    @include breakpoint($break-tablet) {
      height: 200px;
      margin-left: 0.6666% !important;
      width: 24.5%;
      &:first-child {
        margin-left: 0 !important;
      }
      &:nth-child(-n+2) {
        margin-bottom: 0 !important;
      }
    }
    @include breakpoint($break-desktop) {
      height: 270px;
    }
    &:nth-child(-n+2) {
      margin-bottom: 10px;
    }
    &:nth-child(2n+1) {
      margin-left: 0;
    }
  }
}
