.site-presentation {
  background: $yellow;
  text-align: center;
}

.site-hero {
  position: relative;
  text-align: center;
}

.hero {
  background: image-url('cam/hero.jpg') no-repeat center center / cover;
  height: 486px;
}

.hero-credit {
  @include opacity(0.7);
  color: #fff;
  font-size: 12px;
  position: absolute;
  left: 8px;
  top: 0;
}

.hero-logo-container {
  padding: 90px 10px 0;
  text-align: center;
  @include breakpoint($break-desktop) {
    padding-top: 110px;
  }
}

.hero-logo-image {
  width: 300px;
  @include breakpoint($break-tablet) {
    width: 374px;
  }
}

.hero-button {
  @include dashed-button(24px, #fff, #000);
  margin-top: 20px;
  @include breakpoint($break-tablet) {
    @include dashed-button(30px, #fff, #000);
  }
}
