@import "../shared/lightbox";

.lightbox {
  background: $light-gray;
}

.lightbox-close {
  color: $purple;
  font-weight: bold;
  z-index: 1;
}

.lightbox-content {
  h2 {
    @extend %title-font;
    font-size: 30px;
    & > span {
      @include border-radius(3px);
      background: $purple;
      color: #fff;
      display: inline-block;
      padding: 10px 10px 0;
    }
  }
}

.streaming-lightbox-text {
  @extend .signin-text;
  font-size: 24px;
  line-height: 1.3em;
}

.streaming-lightbox-button {
  @include dashed-button(21px, $red, #fff);
}

.subscribe-lightbox-call {
  color: $purple;
  font-size: 20px;
  font-weight: 700;
  margin: 15px 0;
  text-align: center;
  text-transform: uppercase;
}

.subscribe-lightbox-form-item {
  margin: 5px 0;
  .label {
    display: none;
  }
}

.subscribe-lightbox-form-input {
  background: #fff;
  border: 0;
  display: block;
  padding: 5px;
  width: 100%;
}

.subscribe-lightbox-form-button {
  @include solid-button(24px, $purple, #fff);
  display: block;
  width: 100%;
}

.subscribe-lightbox-form-close {
  color: $dark-gray;
  font-size: 0.9em;
  text-align: center;
}
