@import "../shared/lightbox";

.lightbox {
  background: $light-gray;
}

.lightbox-close {
  color: $purple;
  font-weight: bold;
  z-index: 1;
}

.lightbox-content {
  h2 {
    @extend %title-font;
    font-size: 30px;
    & > span {
      @include border-radius(3px);
      background: $purple;
      color: #fff;
      display: inline-block;
      padding: 10px 10px 0;
    }
  }
}

.streaming-lightbox-text {
  @extend .signin-text;
  font-size: 24px;
  line-height: 1.3em;
}

.streaming-lightbox-button {
  @include dashed-button(21px, $red, #fff);
}
