.tema-header {
  & > .wrap {
    @include breakpoint($break-tablet) {
      display: table;
      width: 100%;
    }
  }
}

.tema-video {
  iframe {
    max-height: 250px;
    max-width: 100%;
  }

  @include breakpoint($break-tablet) {
    display: table-cell;
    vertical-align: top;
    width: 500px;
    iframe {
      max-height: 360px;
    }
  }
}

.tema-video-image {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 250px;
  position: relative;
  width: 100%;
  @include breakpoint($break-tablet) {
    height: 360px;
  }
}

.tema-credit {
  @include text-shadow(0 0 2px #000);
  color: #fff;
  font-size: 12px;
  position: absolute;
  bottom: 0;
  right: 6px;
}

.tema-info {
  font-size: 16px;
  line-height: 1.2em;
  p {
    @extend %default-margin;
  }
  @include breakpoint($break-tablet) {
    display: table-cell;
    padding-left: 20px;
    vertical-align: top;
  }
}

.tema-link-more {
  @include dashed-button(21px, $purple, #fff);
}

#tema-description-more {
  display: none;
}

.tema-outline {
  background: $purple;
  color: #fff;
}

.outline-list {
  font-size: 0;
  text-align: center;
  & > li {
    font-size: 16px;
    & > * {
      margin: 10px 0;
    }
  }
  @include breakpoint($break-tablet) {
    display: table;
    width: 100%;
    & > li {
      display: table-cell;
      font-size: 18px;
      width: 33.3333%;
    }
  }
}

.tema-name {
  @extend %default-margin;
  & > span {
    @extend %title-font;
    @include border-radius(3px);
    background: $purple;
    color: #fff;
    display: inline-block;
    font-size: 26px;
    padding: 7px 10px 2px 10px;
    @include breakpoint($break-tablet) {
      font-size: 32px;
      padding: 10px 10px 0 10px;
    }
  }
}

.tema-form {
  background: $red;
  color: #fff;
  & > .wrap {
    @include breakpoint($break-tablet) {
      display: table;
      width: 100%;
    }
  }
}

.tema-form-closed-title {
  @extend %default-margin;
  font-size: 48px;
  line-height: 1.3em;
  text-transform: uppercase;
}

.tema-form-closed-description {
  @extend %default-margin;
  font-size: 20px;
  line-height: 1.3em;
}

.tema-form-ball {
  @extend %align-middle-container;
  @include border-radius(50%);
  border: dashed 2px #fff;
  height: 300px;
  margin: 0 auto;
  text-align: center;
  width: 300px;
  @include breakpoint($break-tablet) {
    width: 350px;
    height: 350px;
  }
}

.tema-form-ball-wrap {
  @extend %align-middle-element;
  padding: 0 25px;
}

.tema-form-ball-title {
  @extend %default-margin;
  @extend %title-font;
  font-size: 38px;
  @include breakpoint($break-tablet) {
    font-size: 44px;
  }
}

.tema-form-ball-description {
  @extend %default-margin;
  @extend %text-font;
  font-size: 16px;
}

.tema-form-item {
  line-height: 0;
  padding: 5px 0;
}

.tema-form-explanation {
  @include breakpoint($break-tablet) {
    display: table-cell;
    vertical-align: middle;
    width: 450px;
  }
}

.tema-form-form {
  @include breakpoint($break-tablet) {
    display: table-cell;
    vertical-align: middle;
  }
}

.tema-form-label {
  @extend %text-font;
  display: block;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
}

.tema-form-input,
.tema-form-textarea,
.tema-form-button,
.tema-form-multiselect .multi-select-selected,
.bairros-form-location > input {
  font-size: 13px;
  @include breakpoint($break-tablet) {
    font-size: 16px;
  }
}

.tema-form-input,
.tema-form-textarea,
.tema-form-multiselect .multi-select-selected,
.bairros-form-location > input {
  @extend %text-font;
  background: #fff;
  border: 0;
  padding: 5px 10px;
  width: 100%;
}

.tema-form-textarea {
  height: 140px;
}

.tema-form-button {
  @include dashed-transparent-button(24px, #fff);
}

.tema-form-multiselect {
  position: relative;

  .multi-select-options {
    @include box-shadow(0 0 5px rgba(0, 0, 0, 0.5));
    background: #fff;
    color: #000;
    display: none;
    font-size: 12px;
    overflow-y: auto;
    max-height: 120px;
    position: absolute;
    top: 29px;
    left: 0;
    right: 0;
    z-index: 2;

    .check {
      margin-right: 2px;
    }

    & > li {
      @include opacity(0.6);
      cursor: pointer;
      line-height: 1.5em;
      padding: 5px;

      &:hover {
        @include opacity(1);
      }
    }

    @include breakpoint($break-tablet) {
      font-size: 14px;
      top: 33px;
    }
  }

  &.focused .multi-select-options {
    display: block;
  }

  .multi-select-done {
    background: $yellow;
    border: 0;
    bottom: 2px;
    color: #fff;
    font-size: 12px;
    padding: 5px;
    position: absolute;
    right: 2px;
    top: 2px;
    width: 26px;

    @include breakpoint($break-tablet) {
      font-size: 14px;
      width: 28px;
    }
  }
}
